<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Food Recommender</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="~/Content/Site.css" rel="stylesheet" />
  <link href="~/Content/Images/HeartSavored.png" rel="shortcut icon" />
  <script src="Content/jquery-1.4.4.min.js"></script>
  <script src="Content/jquery.reveal.js"></script>
</head>
<body>
  <div id="base">
    <div id="page">
      <header>
        Food <span class="highlight">Recommender</span>
      </header>
      <div id="body">
        @RenderBody()
      </div>
      <footer>
        &copy;2013 - Food Recommender |
        <a href="mailto:vishal.joshi@microsoft.com,nikhilko@microsoft.com">Feedback and Questions? - Email Vishal Joshi & Nikhil Kothari</a>
      </footer>
    </div>
  </div>
</body>
</html>
