@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
  margin: 0;
  padding: 0;
}

header, footer {
  display: block;
}

body {
  background-image: url('Images/CuttingBoard.png');
  background-color: #fdfdfd;
  color: #696969;
  font-family: 'Open Sans', Helvetica;
  font-size: .75em;
  margin: 0px;
  padding: 0;
  overflow-x: hidden;
}

a:link {
  color: #8d1c19; /*#3b3420;*/
  text-decoration: none;
}
a:visited {
  color: #8d1c19; /*#3b3420*/
  text-decoration: none;
}
a:hover {
  color: #a52f09;
  text-decoration: none;
}
a:active {
  color: #8d1c19; /*#a52f09;*/
}

#page {
  margin: 0 auto;
  max-width: 960px;
  background-color: #fdfdfd;
}

header {
  padding-left: 17px;
  font-family: 'Kaushan Script', 'Open Sans', Helvetica;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 0px 1px #333;
  letter-spacing: -.5px;
}
header .highlight {
  color: #842827;
  text-shadow: 0px 0px 2px #842827;
}

div.bannerWrapper {
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  text-shadow: 0px 0px 1px #ccc;
}

div.banner {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

footer {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  color: #8d1c19;
  vertical-align: bottom;
  padding-top: 10px;
}

#productsWrapper {
  text-align: center;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.product {
  display: inline-block;
  width: 290px;
  border: solid 1px #cecece;
  margin: 10px;
  background: white;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

a.productLink {
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 260px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  font-weight: normal;
  margin: 4px;
  display: inline-block;
  color: #444;
}

.productImage {
  height: 275px;
  width: 275px;
  margin: 4px;
  display: inline-block;
}

button.savor-button {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  right: 6px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(images/Heart.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4px;
  border: none;
  cursor: pointer;
}

.savored button.savor-button {
  background-image: url(images/HeartSavored.png);
}

#refreshButton {
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  text-shadow: 0px 0px 1px #fff;
  padding: 5px;
  border: none;
  background-color: #842827;
  color: #fff;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.infoWrapper {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  text-shadow: 0px 0px 1px #ccc;
}

div.infoContent {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,.8);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
}
.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  width: 280px; margin-left: -150px;
  background: #eee url(../images/modal-gloss.png) no-repeat -200px -80px;
  position: absolute;
  z-index: 101;
  padding: 8px 10px 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0,0,0,.6);
  font-weight: bold;
  cursor: pointer;
}
